# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs
.idea/
.test/
.vscode/
.build/
.tmp/

*.log
*.sh
